rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email == 'kl1836952@gmail.com' ||
        request.auth.token.email == 'eslamrezk80@gmail.com' ||
        request.auth.token.email.matches('(?i)^eslamrezk80.*')
      );
    }

    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Profiles
    match /users/{userId} {
      allow read: if request.auth != null && (
        request.auth.uid == userId || 
        isAdmin()
      );
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Customs Requests
    match /requests/{requestId} {
      allow read, list: if (
        request.auth != null && (
          resource.data.clientId == request.auth.uid || 
          isAdmin()
        )
      ) || (
        // Allow reading own guest or simulated request on the client
        resource.data.clientId == 'guest-user' || 
        resource.data.clientId.matches('^user-simulated-.*') ||
        resource.data.clientId == 'admin-eslam-simulated'
      );
      
      allow create: if request.resource.data.clientId is string;
                    
      allow update: if request.auth != null && (
        isAdmin() || (
          resource.data.clientId == request.auth.uid && 
          request.resource.data.clientId == request.auth.uid && 
          request.resource.data.steps == resource.data.steps
        )
      );
      
      allow delete: if request.auth != null && isAdmin();
    }
  }
}
